@import '../../assets/styles/base';
$image-path:'../../assets/img/';


/*COOPERATIVISM*/

.layout-cooperativism {
    .inner-container {
        @include layout($two-columns,"", $green);
        background-image:url($image-path + $grid_background); 
        .image{
            height: 100%;
            background-color: $black;
        }
    } 
}


.layout-cooperativism.facttic{
    background-color: $black;
}

.layout-cooperativism.fit{
    background-color: $yellow;
}