@import url('https://fonts.googleapis.com/css?family=Saira|Work+Sans&display=swap');


/*COLORES*/
$black:#04080d;
$white:#dedede;
$grey-light:#a5a5a5;
$grey-medium:#3e3d3d;
$grey-dark:#656565;
$orange-dark:#ee3d06;
$orange-light: #f16439;
$yellow:#ff9d15;
$green:#18c59e;
$blue:#04232e;

/*TIPOGRAFIAS*/
$display:'Saira', sans-serif;
$text: 'Work Sans', sans-serif;



