@import './variables';

/*MIXINS*/

@mixin main-title($size){
    font-family: $display;
    font-size: $size;
    color: $white;
}

@mixin layout ($columns, $rows){
    padding:2%;
    display: grid;
    grid-template-columns:$columns;
    grid-template-rows:$rows;
}

@mixin flex($justify){
    display:flex;
    justify-content: $justify;
}

/*COVER*/

.layout-cover{
    @include layout("", $one-fifth);
    height:100vh;
    background-color: $black;

    .inner-container{
        height: 100vh;
        border: 1px solid $white;
    }

    .cover-pageNumber{
        @include main-title(10rem);
        border-bottom:1px solid $white;
    }
    .cover-title{
        @include main-title(5rem);
    }
}