@import '../../assets/styles/base';
$image-path:'../../assets/img/';

/*TEAM*/

.layout-team .inner-container{
    @include layout($three-columns,"", $black);
    background-image:url($image-path + $grid_background); 
}

.layout-nayra .inner-container{
    @include layout($two-columns,"", $black);
    background-image:url($image-path + $grid_background); 

    .info{
        .title{
             @include logo(10rem, $white);
        }
    }
}

.teamMember {
    color: $white;
    padding: 10%;
    .memberPicture{
        display: grid;
        align-items: center;
        width:200px;
        height: 200px;
        border: 2px solid $white;
        border-radius: 50%;
        margin: 0 auto;

        img{
            width: 50%;
            margin: 0 auto;
        }
    }

    .memberInfo{
        margin-top: 50px;
        .name {
            margin: 50px;
            margin-bottom: 1em;
        }

        p {
            font-size: 1.25em;
        }
        
        ul {
            margin-top: 1em;
        }

        li {
            font-size: 1.25em;
            font-weight: 300;
        }
    }

    .name {
        @include main-title (2rem, $white);
    }

    ul {
        list-style: disc;
    }
}