@import '../../assets/styles/base';
$image-path:'../../assets/img/';

/*TEAM*/

.layout-team .inner-container{
    @include layout($three-columns,"", $black);
    background-image:url($image-path + $grid_background); 
}

.layout-nayra .inner-container{
    @include layout($two-columns,"", $black);
    background-image:url($image-path + $grid_background); 

    .info{
        .title{
             @include logo(10rem, $white);
        }
    }
}

.teamMember {

    &:nth-child(1) .memberPicture { border: 0; background-color: $orange-dark; }
    &:nth-child(2) .memberPicture { border: 0; background-color: $yellow; }
    &:nth-child(3) .memberPicture { border: 0; background-color: $green; }

    color: $white;
    padding: 10%;
    .memberPicture{
        display: grid;
        align-items: center;
        width:200px;
        height: 200px;
        border: 2px solid $white;
        border-radius: 50%;
        margin: 0 auto;

        img{
            width: 50%;
            margin: 0 auto;
        }
    }

    .memberInfo{
        margin-top: 50px;
        .name {
             @include main-title (4rem, $white);
            margin: 20px;
            margin-bottom: .5em;
        }

        .bio{
            @include main-title (1.5rem, $white);
        }

        ul {
            margin-top: 2.5em;
            padding:40px;
        }

        li {
            font-size: 1.30em;
            line-height: 1.8em;
            font-weight: 600;
            color: $black;
        }
    }

    &:nth-child(1) ul { border: 0; background-color: $orange-dark;}
    &:nth-child(2) ul { border: 0; background-color: $yellow;}
    &:nth-child(3) ul { border: 0; background-color: $green; }

}