@import './assets/styles/base';
$img-path:'./assets/img/';

/*GENERAL*/
body {
    font: 400 100%/1.375 $text;
    color: $white;
}

* {
    box-sizing: border-box;
}
.layout{               
    .info{
        height:90%;
        border: 1px solid $white;
        display: grid;
        align-content: center;  

        .title{
            @include main-title(5rem, $white);
        }
        .text{
            font-size: 1.5rem;
            padding-top: 2rem;;
        }
    }
    .image{
        height:90%;
        background-color:$black;
    }

}

.layout.fit,
.layout.cooperativism{
    .info{
        color:$black;
        border-color:$black;

        .title{
            color: $black;
        }
    }
}


/* INTRO */

.intro {
    background-color: $black;

    canvas {
        display: block;
        margin: 0;
    }

    h1 {
        @include logo(8rem, $white);
        position: absolute;
        top: 50%;
        margin-top: -1.5em;
        width: 100%;
        text-align: center;
    }

    .card {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 6em auto 0;
        max-width: 500px;
        text-align: center;

        p {
            font-weight: 300;
            font-size: 1.25em;
            &.title {
                font-size: 1.5em;
                font-weight: 500;
            }
        }
    }
}
