@import '../../assets/styles/base';

/*NAVBAR*/

.navBar {

  display: grid;
  align-items: center;
  position: fixed;
  top:0;
  bottom:0;
  z-index: 100;

  nav {

    
    text-align: left;
    
    overflow: hidden;
    // left: 0;
    // bottom: 50%;

    padding: 1em 15px;

    background-color: transparent;
    width: 42px;
    transition: background-color 200ms ease-in-out, width 1ms ease-in-out;
    transition-delay: 0s, 200ms;
    // border: 1px solid transparent;
    border-left: 0;
    
    &:hover {
      width: 300px;
      transition-duration: 0s, 200ms;
      transition-delay: 0s;
      background-color: $black;
      border-color: $white;
      a {
        color: $white;
        &.active {
          color: $green;
        }
      }
    }

    ul {

      position: relative;
      z-index: 1;

      li {

        margin: 0.5em 0;

        a {
          display: inline-block;
          text-decoration: none;
          font-size: 1.125em;
          white-space: nowrap;
          transition: all 100ms ease-in-out;
          opacity: 0.35;
          color: transparent;
          outline: 0;

          &::before {
            content:"";
            display: inline-block;
            width: 7px;
            height: 7px;
            background-color: $white;
            border-radius: 50%;
            margin-right: 1em;
            transition: all 400ms ease-in-out;
          }

          &:hover {
            opacity: 1;

            &::before {
              transition-duration: 100ms;
              transform: scale(2) translateY(-1px);
            }
          }

          &.active {
            opacity: 1;
            &::before {
              background-color: $green;
            }
          }
        }
      }
    }
  }
}